<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>카카오같이가치</title>
    <!-- Import CSS-->
    <link rel="stylesheet" href="assets/css/mainStyle.css">
    <link rel="stylesheet" href="assets/css/modalStyle.css">

    <!-- Import Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>


<header id="navigation" class="sc-7d9cc060-0 jUHOXU navigation ">
    <div class="sc-7d9cc060-1 kQXNVt">
        <h1 class="sc-6c591950-0 gcVIDZ">
            <a href="/" class="sc-6c591950-1 gBKmbO">
                <span class="sc-695c2ba5-0 WfZZU">카카오같이가치</span>
            </a>
        </h1>
        <nav aria-label="전체메뉴" class="sc-3cbd6930-3 hRKIxH">
            <h2 class="sc-695c2ba5-0 WfZZU">전체메뉴</h2>
            <ul class="sc-7aaee6b6-1 lapLYi">
                <li class="sc-7aaee6b6-2 kVuRqu sc-3cbd6930-0 jtKkls">
                    <a href="https://together.kakao.com/" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 sc-3cbd6930-1 kmZJXp dCRpEN link_gnb">홈</a>
                </li>
                <li class="sc-7aaee6b6-2 kVuRqu sc-3cbd6930-0 jtKkls">
                    <a href="https://together.kakao.com/fundraisings/now" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 sc-3cbd6930-1 kmZJXp dCRpEN link_gnb">같이기부</a>
                </li>
                <li class="sc-7aaee6b6-2 kVuRqu sc-3cbd6930-0 jtKkls">
                    <a href="https://together.kakao.com/actions" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 sc-3cbd6930-1 kmZJXp dCRpEN link_gnb">모두의행동</a>
                </li>
                <li class="sc-7aaee6b6-2 kVuRqu sc-3cbd6930-0 jtKkls">
                    <a href="https://together.kakao.com/hello" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 sc-3cbd6930-1 kmZJXp dCRpEN link_gnb">마음날씨</a>
                </li>
                <li class="sc-7aaee6b6-2 kVuRqu sc-3cbd6930-0 jtKkls">
                    <a href="https://together.kakao.com/boards/campaigns" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 sc-3cbd6930-1 kmZJXp dCRpEN link_gnb">캠페인</a>
                </li>
            </ul>
        </nav>
        <div class="sc-8aebc68d-0 ddTVtd undefined sc-eedf5289-0 kFkUlr" aria-label="유틸메뉴">
            <div class="sc-8aeb359-0 hFOIQn sc-8aebc68d-1 eTFbhS">
                <a draggable="false"  class="sc-7924a6a8-0 hLSWWl external_hyperlink sc-8aebc68d-4 dksFvB" data-bs-toggle="modal" data-bs-target="#donate/donateModal">
                    <div class="sc-988ad92b-0 cCFuWc sc-8aebc68d-2 dUktTI">
                        <img src="//t1.kakaocdn.net/together_image/common/avatar/avatar.png" alt="" class="sc-8213ab33-0 bliNZt"/>
                    </div>
                </a>
            </div>
        </div>
        <a href="https://together.kakao.com/search" aria-label="검색" class="sc-7d9cc060-2 cQTNwZ">
            <div aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40" width="20" height="20" opacity="1" class="sc-62ee9b1b-0 fVkbrr sc-7d9cc060-3 gBeISY">
                    <g fill="#202020" fill-rule="nonzero">
                        <path d="M18 3c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15C3 9.716 9.716 3 18 3zm0 3C11.373 6 6 11.373 6 18s5.373 12 12 12 12-5.373 12-12S24.627 6 18 6z"></path>
                        <path d="M26.94 27.05a1.5 1.5 0 0 1 2.007-.103l.114.103 9.434 9.435a1.5 1.5 0 0 1-2.007 2.224l-.114-.103-9.435-9.434a1.5 1.5 0 0 1 0-2.122z"></path>
                    </g>
                </svg>
                <span class="sc-695c2ba5-0 WfZZU">검색</span>
            </div>
        </a>
        <button type="button" color="transparent" class="sc-e7c24948-0 fArDXu button sc-7d9cc060-4 ZjbTh">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40" width="18" height="18" opacity="1" class="sc-62ee9b1b-0 liTurH">
                <g transform="translate(2 5)" fill="#22272b" fill-rule="evenodd">
                    <rect width="36" height="3" rx="1.5"></rect>
                    <rect y="14" width="36" height="3" rx="1.5"></rect>
                    <rect y="27" width="36" height="3" rx="1.5"></rect>
                </g>
            </svg>
            <span class="sc-695c2ba5-0 WfZZU">메뉴 펼치기</span>
        </button>
    </div>
</header>
<main id="main" class="sc-95d768b7-0 hhScjw">

    <div class="sc-8aeb359-0 hFOIQn">
        <section class="sc-8aeb359-0 hFOIQn sc-89adf84f-0 sc-e525a94c-0 hUjAiC iwotXd">
            <h3 size="26" color="black" class="sc-5dc55ca7-0 sc-e525a94c-1 cPosCR gtCeAL">당신의 착한 마음을 같이가치가 응원합니다❤️</h3>
        </section>
        <div class="sc-8aeb359-0 hFOIQn sc-d6ea244d-0 jlKRwE">
            <section class="sc-8aeb359-0 hFOIQn sc-89adf84f-0 sc-53ee9573-0 hUjAiC cZRNdS">

                <div class="sc-8aeb359-0 hFOIQn">
                    <h4 class="sc-695c2ba5-0 WfZZU">기부 리스트</h4>
                    <div class="sc-8aeb359-0 hFOIQn sc-e3e47cd7-6 ilnzBQ">
                        <div class="sc-e3e47cd7-0 cenffs content_card sc-fbd9f46f-0 fOMYOR">
                            <a class="sc-e3e47cd7-1 fcWMWm card_inner" href="#">

                                <div src="#image" class="sc-e3e47cd7-2 cAjBAy thumbnail"></div>
                                <div class="sc-e3e47cd7-3 dHFjfg card_content">
                                    <strong color="black" class="sc-5dc55ca7-0 sc-e3e47cd7-4 bDRHrZ ijTmKa card_title" aria-hidden="true">title</strong>
                                    <span color="gray60" class="sc-5dc55ca7-0 sc-e3e47cd7-5 jSqJeI gEAlPn card_subtext" aria-hidden="true">content</span>
                                    <div class="sc-8aeb359-0 hmkyus sc-a4735020-0 gAeinx progress_container">
                                        <div width="100%" class="sc-a723563c-0 eNhTsl progress_bar " aria-hidden="true">
                                            <div role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="8000000" class="sc-a723563c-1 jDna-Dw current_progress_bar"></div>
                                        </div>
                                        <div class="sc-8aeb359-0 bVzSkM sc-a4735020-1 cXseVP progress_info">
                                                    <span color="black" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 lfuBQu txt_num txt_current">currentMoney
                                                        <!-- -->
                                                    원</span>
                                            <span color="#ff4050" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 jnITAx txt_num">percentage
                                                <!-- -->
                                                    %</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="sc-8aeb359-0 hFOIQn">
                    <h4 class="sc-695c2ba5-0 WfZZU">기부 리스트</h4>
                    <div class="sc-8aeb359-0 hFOIQn sc-e3e47cd7-6 ilnzBQ">
                        <div class="sc-e3e47cd7-0 cenffs content_card sc-fbd9f46f-0 fOMYOR">
                            <a class="sc-e3e47cd7-1 fcWMWm card_inner" href="#">

                                <div src="#image" class="sc-e3e47cd7-2 cAjBAy thumbnail"></div>
                                <div class="sc-e3e47cd7-3 dHFjfg card_content">
                                    <strong color="black" class="sc-5dc55ca7-0 sc-e3e47cd7-4 bDRHrZ ijTmKa card_title" aria-hidden="true">title</strong>
                                    <span color="gray60" class="sc-5dc55ca7-0 sc-e3e47cd7-5 jSqJeI gEAlPn card_subtext" aria-hidden="true">content</span>
                                    <div class="sc-8aeb359-0 hmkyus sc-a4735020-0 gAeinx progress_container">
                                        <div width="100%" class="sc-a723563c-0 eNhTsl progress_bar " aria-hidden="true">
                                            <div role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="8000000" class="sc-a723563c-1 jDna-Dw current_progress_bar"></div>
                                        </div>
                                        <div class="sc-8aeb359-0 bVzSkM sc-a4735020-1 cXseVP progress_info">
                                                    <span color="black" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 lfuBQu txt_num txt_current">currentMoney
                                                        <!-- -->
                                                    원</span>
                                            <span color="#ff4050" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 jnITAx txt_num">percentage
                                                <!-- -->
                                                    %</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </section>
            <section class="sc-8aeb359-0 hFOIQn sc-89adf84f-0 sc-9999e5bb-0 hUjAiC jDpreK">
                <div class="sc-8aeb359-0 hFOIQn sc-2213fc82-0 gwUnUq">
                    <div class="sc-8aeb359-0 jBsvmQ sc-3af8a8c-0 fMMeYi">
                        <h4 class="sc-8aeb359-0 hFOIQn">
                            <a draggable="false" class="sc-7924a6a8-0 hLSWWl external_hyperlink " href="https://together.kakao.com/auroville/statistics">
                                        <span size="20" color="black" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 sc-3af8a8c-1 bQybqF jaysKZ">
                                            우리가 <br class="sc-13ec841d-0 HUWXv"/>같이만든 변화들
                                        </span>
                            </a>
                        </h4>
                        <p size="13" color="gray60" role="text" class="sc-8aeb359-0 uaBry sc-5dc55ca7-0 sc-3af8a8c-2 knmjDM exXRwy">2023.10.16 기준</p>
                        <div class="sc-3af8a8c-3 keSFDk"></div>
                        <div>
                            <a draggable="false" class="sc-7924a6a8-0 hLSWWl external_hyperlink sc-3af8a8c-8 uyijK" href="https://together.kakao.com/auroville/statistics">
                                <div class="sc-8aeb359-0 dGLcUH sc-3af8a8c-4 hZzceZ">
                                    <i class="sc-3af8a8c-5 cVuQzB"></i>
                                    <strong color="black" size="15" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 sc-3af8a8c-6 hQDZYg ijKvdy">총 기부금</strong>
                                    <em color="black" size="16" class="sc-8aeb359-0 kMwKNg sc-5dc55ca7-0 sc-3af8a8c-7 cYwvpH fcYHMD">71,428,401,536
                                        <!-- -->
                                        원</em>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="sc-8aeb359-0 Cfhkw sc-2e8bb184-0 dA-dVsB">
                    <h4 class="sc-8aeb359-0 hFOIQn">
                            <div aria-hidden="true">
                                <em size="13" color="gray60" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 sc-2e8bb184-1 knmjDM ioeGop">후원랭킹</em>
                                <strong size="20" color="black" class="sc-8aeb359-0 kpqLJq sc-5dc55ca7-0 sc-2e8bb184-2 bQybqF jWiGgS">오늘 당신의 마음을 응원해요</strong>
                            </div>
                    </h4>
                    <ul class="sc-7aaee6b6-1 lapLYi sc-2e8bb184-3 eLKPaa">
                        <li class="sc-7aaee6b6-2 kVuRqu undefined">
                            <a draggable="false" class="sc-7924a6a8-0 hLSWWl external_hyperlink sc-62b84b5-1 eKNonz" href="https://together.kakao.com/hello/45">
                                <div class="sc-988ad92b-0 tssaI sc-62b84b5-0 bsEbuO">
                                    <img src="https://mud-kage.kakaocdn.net/dn/dBRBBz/btq0Q503PVR/WF6pnWVkR1W5UmmyLBUogk/img.png?type=thumb&amp;opt=S500x500" alt="" class="sc-8213ab33-0 bliNZt"/>
                                </div>
                                <div class="sc-8aeb359-0 iMPEjg sc-62b84b5-2 jidFAG">
                                    <strong size="15" color="gray80" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 sc-62b84b5-3 bmAClE kZiCFE">userId</strong>
                                    <p size="13" color="gray60" class="sc-8aeb359-0 iMIPXi sc-5dc55ca7-0 dxCqHr">?원</p>
                                </div>
                            </a>
                        </li>

                        <li class="sc-7aaee6b6-2 kVuRqu undefined">
                            <a draggable="false" class="sc-7924a6a8-0 hLSWWl external_hyperlink sc-62b84b5-1 eKNonz" href="https://together.kakao.com/hello/45">
                                <div class="sc-988ad92b-0 tssaI sc-62b84b5-0 bsEbuO">
                                    <img src="https://mud-kage.kakaocdn.net/dn/dBRBBz/btq0Q503PVR/WF6pnWVkR1W5UmmyLBUogk/img.png?type=thumb&amp;opt=S500x500" alt="" class="sc-8213ab33-0 bliNZt"/>
                                </div>
                                <div class="sc-8aeb359-0 iMPEjg sc-62b84b5-2 jidFAG">
                                    <strong size="15" color="gray80" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 sc-62b84b5-3 bmAClE kZiCFE">userId</strong>
                                    <p size="13" color="gray60" class="sc-8aeb359-0 iMIPXi sc-5dc55ca7-0 dxCqHr">?원</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
<!--                <div class="sc-8aeb359-0 jEBau sc-e0fcbb07-0 cZKgFa">-->
<!--                    <h4 size="13" color="gray60" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 sc-e0fcbb07-1 knmjDM cojjE">같이가치 NOW</h4>-->
<!--                    <strong size="20" color="black" class="sc-8aeb359-0 FVEFe sc-5dc55ca7-0 sc-e0fcbb07-2 bQybqF fsLJlv">놓치면 아까운 같이가치 소식</strong>-->
<!--                </div>-->
            </section>
        </div>
    </div>
</main>
<footer class="sc-593a523c-0 iA-dPqT">
    <div class="sc-8aeb359-0 hFOIQn sc-593a523c-1 iHApRH">
        <a href="/" class="sc-593a523c-2 fbyleg">
            <span class="sc-695c2ba5-0 WfZZU">카카오같이가치</span>
        </a>
        <p color="gray70" class="sc-8aeb359-0 jaRNCM sc-5dc55ca7-0 sc-593a523c-3 fjKKoz dUkUgM">해당 사이트는 카카오같이가치의 디자인을 copy하였습니다.</p>
    </div>
</footer>
</body>
</html>
