<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sc-101451d8-1 iZvyTY modal_container" role="dialog" aria-modal="true">
  <h5 class="sc-8aeb359-0 hHMxdT sc-5dc55ca7-0 sc-101451d8-2 jhsjgK kiRUgQ modal_title">기부하기</h5>
  <div class="sc-101451d8-3 lkMRhO modal_body" role="document">
    <div class="sc-101451d8-4 sc-d0b4bb39-1 kSSiAe fpqgYv modal_content"><div class="sc-8aeb359-0 bmJxFZ sc-d0b4bb39-2 dqUZbb">
      <img src="https://mud-kage.kakaocdn.net/dn/bdXGMv/btsxvG3soKx/soijxF03UVxGL7SKseFkok/c1400x960.jpg" alt="" width="75" height="56" class="sc-8213ab33-0 ggEJeC sc-d0b4bb39-3 cogXze">
      <div class="sc-d0b4bb39-4 dLjFrN">
        <strong class="sc-5dc55ca7-0 sc-d0b4bb39-5 hpSPLh dZktvL">한 마리라도 더 구하고 싶었습니다</strong>
        <p color="gray60" class="sc-8aeb359-0 bVzSkM sc-5dc55ca7-0 jSqJeI">사단법인 동물자유연대</p>
      </div>
    </div>
      <form>
        <div class="sc-8aeb359-0 eJkiZy sc-9deb5787-2 ePLlGi">
          <div class="sc-9deb5787-0 gaGXVs">
            <strong color="gray80" class="sc-5dc55ca7-0 sc-9deb5787-3 cXuIRY ppkGG">기부금액</strong>
            <input inputmode="numeric" placeholder="0" class="input_number" maxlength="10" type="text" value="0" name="amount">
            <em class="sc-8aeb359-0 dSmPRY sc-5dc55ca7-0 UMNtW">원</em>
            <button type="button" color="transparent" class="sc-e7c24948-0 fArDXu button ">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" width="16" height="16" opacity="1" class="sc-62ee9b1b-0 ffgRtj">
                <g fill="none" fill-rule="evenodd">
                  <circle fill="#c9c9c9" cx="16" cy="16" r="16"></circle>
                  <path d="M10.756 11 21.49 21.478m0-10.478L10.756 21.478" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </svg>
              <span class="sc-695c2ba5-0 WfZZU">초기화</span>
            </button>
          </div>

          <div class="sc-8aeb359-0 bxLanz sc-9deb5787-1 eNufok">
            <button type="button" color="gray20" class="sc-e7c24948-0 eKtWHc button ">+ 5천원<span class="sc-695c2ba5-0 WfZZU">원 선택</span></button>
            <button type="button" color="gray20" class="sc-e7c24948-0 eKtWHc button ">+ 1만원<span class="sc-695c2ba5-0 WfZZU">원 선택</span></button>
            <button type="button" color="gray20" class="sc-e7c24948-0 eKtWHc button ">+ 3만원<span class="sc-695c2ba5-0 WfZZU">원 선택</span></button>
            <button type="button" color="gray20" class="sc-e7c24948-0 eKtWHc button ">+ 5만원<span class="sc-695c2ba5-0 WfZZU">원 선택</span></button>
            <button type="button" color="gray20" class="sc-e7c24948-0 eKtWHc button ">+ 10만원<span class="sc-695c2ba5-0 WfZZU">원 선택</span></button>
            <button type="button" color="gray20" class="sc-e7c24948-0 eKtWHc button ">+ 50만원<span class="sc-695c2ba5-0 WfZZU">원 선택</span></button>
            <button type="button" color="gray20" class="sc-e7c24948-0 eKtWHc button ">+ 100만원<span class="sc-695c2ba5-0 WfZZU">원 선택</span></button>
            <button type="button" color="gray20" class="sc-e7c24948-0 eKtWHc button ">직접입력</button>
          </div><p color="gray60" class="sc-8aeb359-0 ctAfAJ sc-5dc55ca7-0 qPkKe">무통장은 3천원, 기부는 1천원부터 가능합니다</p>
        </div>

        <div class="sc-8aeb359-0 kcOFTR sc-23d323ea-1 gWHmKV">
          <div class="sc-8aeb359-0 gkPNYH sc-23d323ea-2 bsfPoA">
            <label class="sc-3c2db71d-0 EwHlM check_label ">
              <input class="sc-3c2db71d-1 gWhKgO check_input" type="checkbox" name="anonymous">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" width="20" height="20" opacity="1" class="sc-62ee9b1b-0 fVkbrr sc-3c2db71d-2 dLAEUg">
                <circle cx="10" cy="10" r="9.25" fill="white" stroke="#ff4050" stroke-width="1"></circle>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.53 7.47a.75.75 0 0 1 0 1.06l-5.38 5.38-3.638-3.118a.75.75 0 0 1 .976-1.14l2.584 2.216L13.47 7.47a.75.75 0 0 1 1.06 0z" fill="#ff4050"></path>
              </svg>
              <span color="#333" class="sc-8aeb359-0 dSmPRY sc-5dc55ca7-0 ixWOLr check_label_text">익명으로 기부하기</span>
            </label></div><div class="sc-8aeb359-0 hFOIQn sc-23d323ea-3 eerhit">

            <label class="sc-3c2db71d-0 EwHlM check_label ">
              <input class="sc-3c2db71d-1 gWhKgO check_input" type="checkbox" name="talkChannel">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" width="20" height="20" opacity="1" class="sc-62ee9b1b-0 fVkbrr sc-3c2db71d-2 dLAEUg">
                <circle cx="10" cy="10" r="9.25" fill="white" stroke="#ff4050" stroke-width="1"></circle>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.53 7.47a.75.75 0 0 1 0 1.06l-5.38 5.38-3.638-3.118a.75.75 0 0 1 .976-1.14l2.584 2.216L13.47 7.47a.75.75 0 0 1 1.06 0z" fill="#ff4050"></path>
              </svg>
              <span color="#333" class="sc-8aeb359-0 dSmPRY sc-5dc55ca7-0 ixWOLr check_label_text">카카오같이가치 채널 추가 동의 (선택)</span>
            </label><p color="gray60" class="sc-8aeb359-0 cXbkWN sc-5dc55ca7-0 qPkKe">같이가치 광고와 마케팅 메시지를 카카오톡으로 받아보세요.</p>
          </div>
        </div>

        <ul class="sc-7aaee6b6-1 dDcMeG sc-23d323ea-4 dNzpiU">
          <li class="sc-7aaee6b6-2 kVuRqu undefined">결제 수수료는 카카오가 대신 부담합니다.</li>
          <li class="sc-7aaee6b6-2 kVuRqu undefined">기부 완료 알림은 카카오톡으로 발송해드려요.</li>
        </ul><div class="sc-8aeb359-0 kRLEeJ">

        <button type="submit" class="sc-e7c24948-0 hQGRLd button ">기부하기</button>
      </div>
      </form>
    </div>
  </div>

  <button type="button" color="transparent" class="sc-e7c24948-0 fArDXu button sc-101451d8-6 fKMgnt modal_close_button">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" width="14" height="14" opacity="0.7" class="sc-62ee9b1b-0 hEia-DX">
      <path d="M29.37.41a1.5 1.5 0 0 1 2.12 0l.1.1a1.5 1.5 0 0 1 0 2.12L18.22 16l13.37 13.37a1.5 1.5 0 0 1 0 2.12l-.1.1a1.5 1.5 0 0 1-2.12 0L16 18.22 2.63 31.59a1.5 1.5 0 0 1-2.007.103L.51 31.59l-.099-.1a1.5 1.5 0 0 1 0-2.12L13.78 16 .41 2.63a1.5 1.5 0 0 1 0-2.12l.1-.1a1.5 1.5 0 0 1 2.12 0L16 13.78z" fill="#202020" fill-rule="evenodd"></path>
    </svg>
    <span class="sc-695c2ba5-0 WfZZU">닫기</span>
  </button>
</div>
</body>
</html>